{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for article in articles %}
<article>
    <h2><a class="articleTitle" href="/article/{{ article.id }}">{{ article.title }}</a></h2>
    <p>{{ article.content }}</p>
</article>
{% endfor %}
<hr/>

{% for category in categories %}
<article>
    <h2><a class="categoryTitle" href="/category/{{ category.id }}">{{ category.title }}</a></h2>
    <p>{{ category.logo }}</p>
</article>
{% endfor %}
{% endblock %}
